:root {
  --color-black: #262626;
  --color-white: #fff;
  --color-white1: #f2f2f2;
  --color-blue: #002882;
  --color-blue1: #002882;
  --primary-color: #0078d4;
  --secondary-color: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

body {
  font-family: "Segoe UI", sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1476px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

.title-h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1476px;
  height: 54px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.logo-item {
  padding: 16px 6px 16px 10px;
}
.logo-text {
  color: var(--color-black);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}
.logo-image {
  width: 108px;
  height: 23px;
}
.logo::before {
  content: "";
  width: 2px;
  height: 50%;
  background-color: var(--color-black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: translate(-40%, -6%);
}
.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 16px 8px 10px;
  position: relative;
  transition: all 1s linear;
}
.menu-link:hover::after {
  content: "";
  width: 85%;
  height: 2px;
  background-color: var(--color-black);
  bottom: 8px;
  left: 7px;
  position: absolute;
}
.menu-text {
  color: var(--color-black);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
}
.menu-icon {
  width: 13px;
  height: 13px;
  color: var(--color-black);
}

.button-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin-right: 10px;
  position: relative;
  transition: all 1s linear;
}
.button-search:hover::after {
  content: "";
  width: 70%;
  height: 2px;
  background-color: var(--color-black);
  bottom: -2px;
  left: 0;
  position: absolute;
}

.search-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
}
.search-icon {
  width: 16px;
  height: 18px;
  transform: scaleX(-1);
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.actions-item {
  padding: 8px 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: var(--color-black);
  border-radius: 3px;
  position: relative;
}
.actions-item:hover::after {
  content: "";
  width: 90%;
  height: 2px;
  background-color: var(--color-black);
  bottom: 5px;
  left: 5px;
  position: absolute;
}
.actions-item:nth-child(3) {
  background-color: var(--color-black);
  color: var(--color-white);
}
.actions-login {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.login-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
}
.login-image {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.alert {
  background-color: var(--primary-color);
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert-text {
  color: var(--color-white);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.button1 {
  color: var(--color-white);
  background-color: var(--primary-color);
}

.button2 {
  color: var(--color-blue);
  background-color: inherit;
  border: 2px solid var(--color-blue1);
}

.button1,
.button2 {
  transition: all 0.15s ease 0s;
  position: relative;
}
.button1:hover::before,
.button2:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
}

.banner {
  display: flex;
  align-items: center;
  background-color: var(--color-white1);
}
.banner-content {
  width: 674px;
  padding: 48px;
  margin-left: 24px;
}
.banner-h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 24px;
}
.banner-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
.banner-link {
  display: flex;
  align-items: center;
  gap: 28px;
}
.banner-link__button {
  border-radius: 2px;
  padding: 10px 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
}
.banner-image {
  flex: 1;
}
.banner-img {
  height: 492px;
}

.download-top {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.download-h2 {
  margin-bottom: 20px;
}
.download-text {
  max-width: 652px;
  text-align: center;
}
.download-bottom {
  max-width: 1600px;
  padding: 0 74px;
}
.download-container {
  background-color: var(--color-white1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.download-content {
  max-width: 885px;
  width: 100%;
  padding: 48px;
}
.download-node {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
.download-img {
  height: 100%;
}
.download-file {
  display: inline-block;
  padding: 10px 12px;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 2px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
}

.title-h2 {
  font-weight: 600;
  font-size: 37px;
  line-height: 1.2;
  color: var(--color-black);
}
.title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-black);
}

.content-h2 {
  margin-bottom: 20px;
}

.find-title {
  padding: 96px 0 24px;
  text-align: center;
}
.find-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(314px, 1fr));
  max-width: 1328px;
  margin: 0 auto;
  gap: 24px;
}
.find-item {
  box-shadow: rgba(0, 0, 0, 0.1294117647) 0px 6px 14px 0px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: inherit;
}
.find-item:first-child .item-top, .find-item:last-child .item-top {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

.item-top {
  background-color: var(--primary-color);
  padding: 16px 24px;
  margin-bottom: 8px;
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-white);
}
.item-title {
  font-weight: 600;
  font-size: 29px;
  line-height: 1.2;
  color: var(--color-black);
  margin: 0 auto 24px;
  padding: 0 24px;
  text-align: center;
}
.item-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.item-textNode {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 18px;
}
.item-button {
  background-color: var(--primary-color);
  padding: 10px 12px;
  border-radius: 2px;
  color: var(--color-white);
  margin: 18px 24px;
  transition: all 0.2s linear;
  width: 220px;
  text-align: center;
}
.item-button:hover {
  box-shadow: rgba(0, 0, 0, 0.1294117647) 0px 2px 4px 0px;
}
.item-try {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);
  margin-bottom: 16px;
}
.item-try::after {
  content: ">";
  color: var(--primary-color);
  margin-left: 8px;
}
.item-small {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 24px;
}
.item-lists {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
  padding: 0 24px;
}
.item-lists h4 {
  margin-bottom: 24px;
}
.item-list {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
.item-check {
  width: 16px;
  height: 16px;
  color: var(--primary-color);
}

.success {
  text-align: center;
}
.success-money-munber {
  font-weight: 600;
  font-size: 37px;
  line-height: 1.2;
  color: var(--primary-color);
}
.success-money-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

/*# sourceMappingURL=main.css.map */
