.seeMore {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 44px;

    &-title {
        text-align: center;
    }

    &-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &-item {
        display: inline-block;
        color: var(--primary-color);
        @include text(600, 16px, 1.5);
        margin: 8px;
        transition: all 0.2s linear;

        &::after {
            content: ">";
            color: var(--primary-color);
            margin-left: 8px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}